* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Averia Libre", cursive;
  -webkit-user-select: none;
}

#wrap {
  width: 640px;
}

.viewcon {
  position: relative;
}
.viewcon canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#front {
  height: 175px;
  background-color: #cc0000;
  overflow: hidden;
  font-size: 140px;
  text-align: center;
  color: white;
}

#middle {
  height: 163px;
  background-color: #00cc00;
  overflow: hidden;
  font-size: 140px;
  text-align: center;
  color: white;
}

#back {
  height: 142px;
  background-color: #0000cc;
  overflow: hidden;
  font-size: 140px;
  text-align: center;
  color: white;
}

.videocon {
  width: 640px;
  display: none;
}
