---
title: Palm Top Theater Jockey
---

%ul
  %li
    背面：
    %input#back.itext{:type => "text"}/
  %li
    中面：
    %input#middle.itext{:type => "text"}/
  %li
    前面：
    %input#front.itext{:type => "text"}/
  %hr

  %input#addyoutube{:type => "text"}/
  %input#addBtn{:type => "button", :value => "追加"}/
  #searchlist
  #youtubelist



